<nav class="navbar navbar-custom tt-default-nav" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                {{ site.title }}
            </a>
        </div>
        <div class="collapse navbar-collapse" id="custom-collapse">
            <ul class="nav navbar-nav navbar-right">
                {% for item in menu.get_items %}
                    {% if item.get_children %}
                        {% if item.get_children %}
                            <li class="dropdown">
                                <a href="{{item.link}}">
                                    {{item.title}}
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu">

                                    {% for child in item.get_children %}
                                        <li class="nav-drop-item">
                                            <a class="nav-link" href="{{child.get_link}}">{{child.title}}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endif %}
                        </li>
                    {% else %}
                        <li class="nav-item {{item.classes | join(' ')}}">
                            <a class="nav-item-link" href="{{item.link}}">{{item.title}}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>