{% extends "base.twig" %}

{% block content %}
	<article>
		<header class="page-title-container">
			<div class="page-title custom-padding">
				<div class="container">
					<h1 class="title-center entry-title">{{ page.title }}</h1>
				</div>
			</div>
			<ul class="breadcrumbs">
				<li><a href="/">Home</a></li>
				<li class="active">{{ page.title }}</li>
			</ul>
		</header>


		<main >
			<div class="container">
				<section class="section-padding-60">
					{{ page.content }}
				</section>
				<section>
					<ul class="timeline">
						{% for item in process_items %}
							<li class=" {{ cycle(['timeline-inverted', ''], loop.index) }}">
								<div class="timeline-badge">
									<i class="icon {{ item.icon }}"></i></div>
								<div class="timeline-panel">
									<heading class="timeline-heading">
										<h3 class="timeline-title">{{ item.title }}</h3>
									</heading>
									<div class="timeline-body">
										<p>{{ item.body }}</p>
									</div>
								</div>
							</li>
						{% endfor %}
					</ul>
				</section>
			</div>

		</main>
	</article>
{% endblock %}